
/* global */
body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2;
    color: #777777;
    background: rgb(219, 219, 219);
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

    /* HEADER */
/*<===============>*/

header {
    border-bottom: 3px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background: #ffffff;
}

header nav {
    float: right;
}

.main-header {
    margin: 0 auto;
    max-width: 960px;
}

.nav li {
    display: inline;
}

.nav a {
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    color: #777777;
    padding: 10px 10px;
    border-right: 1px solid #cccccc;
}

.header-title {
    float: left;
    background: #4aaaa5;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

    /* ABOUT ME SECTION */
/*<===========================>*/
.main-section {
    max-width: 960px;
    margin: 0 auto;
    background: #ffffff;
}

.about-me-title {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 3px solid #dddddd;
}

.about-me-image {
    float: left;
    padding-right: 10px;
}


